@model IEnumerable<SalonWebApplication.Models.OrdersDetailsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>

                <a asp-action="Edit" class="btn-warning" asp-route-id="@item.OrderDetailsId "> <i class="fas fa-pencil" aria-hidden="true"> </i>Edit</a>   |
                <a asp-action="Details" class="btn-success" asp-route-id="@item.OrderDetailsId "> <i class="fade fa-info-circle" aria-hidden="true"> </i>Details</a>  |
                <a asp-action="Edit" class="btn-danger" asp-route-id="@item.OrderDetailsId " onclick="return confirm('Are you sure you would like to delete this piece of information?? ')"> <i class="fas fa-trash-alt"></i>Delete</a>  |



            </td>
        </tr>
}
    </tbody>
</table>
